.body {
    margin-left: 400px;
    border: none;
    padding-left: 300px;
    text-align: center;
    background-color: white;

}

.top {
    display: flex;
    gap: 30px;
}

#grande {
    width: 200px;
    height: 300px;
}

.small-content {
    display: flex;
    gap: 50px;
}

#free-vector {
    height: 300px;
    width: 200px;
}

#servicing-1 {
    height: 150px;
    width: 200px;
    background-color: black;
}

.container-form {
    display: flex;
    gap: 100px;
}

#shop {
    border-radius: 40px;
    width: 18%;
    height: 10%;
    background-color: white;
}

.offer {
    font-size: 50px;
}

.first-content {
    display: flex;
    font-size: 40px;
}

.five-words {
    display: flex;
    gap: 120px;
    font-size: 30px;
}

.space {
    padding-left: 300px;

}

.restyle {
    font-size: 40px;
}

.in-store {
    display: flex;
    gap: 90px;
    font-size: 20px;
}

.where {
    padding-right: 600px;
}

.span {
    display: flex;
    gap: 200px;
}

.container-image {
    display: flex;
    gap: 200px;
}

.last-words {
    display: flex;
    gap: 90px;
    padding: 500px 1500px 60px 10px;
    margin-right: 0px;
}

#dowload {
    width: 600px;
    height: 600px;
    padding-left: 200px;
}

.rectangle {
    width: 600px;
    height: 400px;
    background-color: gray;
    top: 0;
    right: 0%;
    margin-top: -10%;
    margin-left: 1000px;
    rotate: 40deg;
    border-radius: 40px;
    z-index: -1;
}

.arrow {
    width: 50px;
    height: 1px;
}

#home {
    border: 2px dotted;
}

#play {
    width: 3%;
    height: 3%;
}

#start {
    border-radius: 40px;
    width: 18%;
    height: 10%;
    background-color: gray;
}